.navbar-nav {
  width: 100%;

  &.sidebar-nav {
    .nav-main {
      padding: 1rem 0;

      .nav-link {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        .logo {
          width: 180px;
          padding: 1rem;

          img {
            width: 100%;
          }
        }

        .menu-hide {
          position: absolute;
          right: 0;
          padding: 1rem;
        }
      }
    }

    .nav-item:not(:first-child) {
      .nav-link {
        display: flex !important;
        align-items: center;
        padding: .75rem 2.75rem;
      }

      .nav-text {
        margin-left: 10px;
      }
    }
  }

  .nav-text {
    font-size: 12px * 1.5;
    color: #606060;
  }

  .nav-link {
    svg {
      width: 35px;
      height: 35px;

      path {
        fill: #606060;
      }
    }

    &.active {
      background-color: rgba($color: #7D4DFF, $alpha: .15);
      border-right: 3px solid #7D4DFF;

      svg {
        path {
          fill: #7D4DFF;
        }
      }

      .nav-text {
        font-weight: 500;
        color: #7D4DFF;
      }
    }

    &:hover {
      svg {
        path {
          fill: #7D4DFF;
        }
      }

      .nav-text {
        color: #7D4DFF;
      }
    }
  }
}