.carousel {
    // margin-top: 100px;
    padding-top: 200px;
    height: 800px;
    background: linear-gradient(104.7deg, #4B4CFC 2%, #7D4DFF 30.03%, #BB4DFF 96.66%);
    position: relative;

    .carousel-inner {
        .carousel-item {
            h2 {
                font-size: 30px;
                font-weight: bold;
                color: $white;
            }

            p {
                color: #F2F2F2;
                font-size: 16px;
            }
        }
    }

}